.flex-container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.kort{
    width: 15%;
    height: 15%;
}
button{
    
    width: 40%;
    height: 20%;
    background-color: rgb(184, 81, 204);
}